<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragments</title>
</head>
<body>

<!-- Фрагмент заголовка -->
<div th:fragment="header">
    <header>
        <div>My Store</div>
    </header>
</div>

<!-- fragments/productList.html -->
<div th:fragment="catalog">
    <div class="product" th:each="product : ${productList}" style="position: relative;" th:attr="data-product-id=${product.id}">
        <span class="remove-button" onclick="removeProduct(this)">✖</span>
        <a th:href="@{/products/{id}(id=${product.id})}" class="product-link">
            <img th:src="@{/external-image(fileName=${product.imageUrl})}" th:alt="${product.name}" />
            <h4 th:text="${product.name}">Product Name</h4>
            <p th:text="${product.price}">Price</p>
            <p th:text="${product.productType}">Price</p>
        </a>
    </div>
</div>

</body>
</html>