<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Store</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<!-- Header Section -->
<div th:insert="fragments/fragments :: header"></div>

<!-- Layout Container with Sidebar and Main Content -->
<div class="container">
    <!-- Sidebar Navigation -->
    <aside class="sidebar">
        <ul>
            <li>
            <a th:href="@{/main}" th:text="'Все категории'" class="allCategories"></a>
            </li>
            <li th:each="category : ${categories}">
                <a href="#" th:attr="data-category=${category.toLowerCase()}" onclick="loadCategoryProducts(this.getAttribute('data-category')); return false;" th:text="${category}"></a>
            </li>
        </ul>
    </aside>

    <!-- Main Content Area (Product Catalog) -->
    <main class="main-content">
        <h2>Product Catalog</h2>
        <div class="catalog">

            <div class="product" th:each="product : ${productList}" style="position: relative;" th:attr="data-product-id=${product.id}">
                <span class="remove-button" onclick="removeProduct(this)">✖</span>
                <a th:href="@{/products/{id}(id=${product.id})}" class="product-link">
                <img th:src="@{/external-image(fileName=${product.imageUrl})}" th:alt="${product.name}" />
                <h4 th:text="${product.name}">Product Name</h4>
                <p th:text="${product.price}">Price</p>
                <p th:text="${product.productType}">Price</p>
                </a>
            </div>
        </div>
    </main>
</div>
<div class="button-container">
    <button id="add" onclick="location.href='products/add'">Add Product</button>
</div>

<div th:insert="fragments/fragments :: footer"></div>

<script src="js/removeProduct.js"></script>
<script src="js/loadCategoryProducts.js"></script>
<script src="js/currentYear.js"></script>
</body>

</html>