<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>
<div th:insert="fragments/fragments :: header"></div>

<div class="product-container" th:object="${product}">
    <div class="product-image">
        <img th:src="@{/external-image(fileName=${product.imageUrl})}" th:alt="${product.name}" />
    </div>
    <div class="product-info">
        <h1 th:text="*{name}">Название</h1>
        <p><strong>Тип:</strong> <span th:text="*{productType.name}">Product Type</span></p>
        <p><strong>Описание:</strong> <span th:text="*{productDescription.description}">Description</span></p>
        <p><strong>Состав:</strong> <span th:text="*{productDescription.composition}">Composition</span></p>
        <p class="price"><strong>Цена:</strong><span th:text="*{price}">Price</span> </p>
    </div>
</div>
<div>
    <button id="back" onclick="location.href='/main'">Back to catalog</button>
</div>

<div th:insert="fragments/fragments :: footer"></div>
</body>
</html>

